# Xcode

## User settings
xcuserdata

## IOS 
*.DS_Store

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
 Package.pins
 Package.resolved
 *.xcodeproj
.swiftpm
.build/
iTunesSearch.xcodeproj/project.pbxproj
iTunesSearch.xcodeproj/project.xcworkspace/*

# Xcode workspace
*.xcworkspace

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/